<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Bienvenido</h1>
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
      <p *ngIf="usuario">Usuario: {{usuario}}</p>
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Certificacion</h4>
  </b>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked">Nombre certificado</ion-label>
    <ion-input type="text" [(ngModel)]="data.certificado"></ion-input>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked">Fecha obtencion</ion-label>
    <ion-input type="date" [(ngModel)]="data.fechaObtencion"></ion-input>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" class="ion-padding-bottom">Vencio el certificado?</ion-label>
    <ion-select placeholder="Seleccione nivel" [(ngModel)]="data.resp">
      <ion-select-option *ngFor="let res of respuesta" [value]="res.id">{{res.r}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" class="ion-padding-bottom">Fecha de vencimiento</ion-label>
    <ion-input type="date" [(ngModel)]="data.fechaVencimiento"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="block" (click)="limpiar()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button shape="block" (click)="mostrar()">
          Mostrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Termina el Content -->